__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
env/
*.sqlite
*.db
.pytest_cache/
.coverage
htmlcov/
instance/
.DS_Store
*.log
migrations/versions/*.py
